body {
	background-image: url('../images/plates.jpg');
	background-repeat: repeat;
	background-position: top;
	color: white;
}

h1 {
	text-align: center;
	font-family: impact;
}

form {
	margin: 0 auto;
	text-align: center;
}


form ul li {
	font-family: arial;
	text-align: center;
	font-size: .6em;
	display: inline-block;
}

#list {
	text-align: center;
	font-family: verdana;
	font-size: 1.3em;
	margin-top: 50px;
	background-color: gray;
	padding: 20px;
	background-image: url('../images/tiles.png');
}

ul {
	list-style-type: none;
	padding: 0;
}