body {
	background-image: url('../images/plates.jpg');
	background-repeat: repeat;
	background-position: top;
	color: white;
	background-size: auto auto;
}

@font-face {
	font-family: junction;
	src: url('../fonts/junction-regular.ttf');
}

@font-face {
	font-family:leaguegothic;
	src: url('../fonts/leaguegothic-regular-webfont.ttf');
}

h1 {
	margin-top: 45px;
	text-align: center;
	font-family: junction;
}

form {
	margin: 0 auto;
	text-align: center;
}


form ul li {
	font-family: arial;
	text-align: center;
	font-size: .6em;
	display: inline-block;
	padding: 5px;
}

input {
	text-align: center;
}

.smallbox {
	width: 30px;
}

#list {
	text-align: center;
	font-family: leaguegothic;
	font-size: 1.9em;
	margin-top: 30px;
	color: black;
	padding: 25;
	width: 100%;
	background-image: url('../images/tiles.png');
}

ul {
	list-style-type: none;
	padding: 0;
}

.done {
	opacity: .2;
	font-size: .8em;
	font-style: italic;
}

.emoji {
	width: 18px;
	height: 18px;
	margin-left: 5px;
}

footer {
	text-align: center;
	margin-top: 270px;
	font-family: junction;
	font-size: .7em;
	opacity: .6;
}
